<div class="wrap">
  <button class="btn btn-outline" (click)="isModalVisible=true">New Profile</button>
  <button class="btn btn-outline" (click)="filterVisible=true">Filter</button>
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="descSort">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'total'" [clrDgSortOrder]="descSort">Total</clr-dg-column>
    <clr-dg-row *clrDgItems="let profile of profiles" [clrDgItem]="profile">
      <clr-dg-cell>{{profile.name}}</clr-dg-cell>
      <clr-dg-cell>{{profile.users.length}}</clr-dg-cell>
      <clr-dg-action-overflow>
        <button class="action-item" (click)="deleteProfile(profile)">Delete</button>
      </clr-dg-action-overflow>
      <app-profile-details *clrIfExpanded [input]="profile" (emit)="changeProfileValues($event)" ngProjectAs="clr-dg-row-detail">
      </app-profile-details>
    </clr-dg-row>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">Areas per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{total}} Areas
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>






<clr-modal [(clrModalOpen)]="isModalVisible" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">New Profile</h3>
  <div class="modal-body">
    <clr-input-container>
      <label>Name</label>
      <input type="text" name="name" clrInput [(ngModel)]="newProfile.name" placeholder="Profile's name" />
    </clr-input-container>
    <clr-stack-view>
      <clr-stack-header>Permissions</clr-stack-header>
      <clr-stack-block [(clrSbExpanded)]="expanded[0]">
        <clr-stack-label>Administration</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label>Areas</clr-stack-label>
          <clr-stack-block>
            <clr-stack-label>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle1" [(ngModel)]="switches[0]" (checked)="switches[0]" (change)="toggle2($event,'ADD AREAS')" class="clr-toggle">
                <label for="toggle1" class="clr-control-label">ADD</label>
              </div>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle2" [(ngModel)]="switches[1]" (checked)="switches[1]" (change)="toggle2($event,'MODIFY AREAS')" class="clr-toggle">
                <label for="toggle2" class="clr-control-label">MODIFY</label>
              </div>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle3" [(ngModel)]="switches[2]" (checked)="switches[2]" (change)="toggle2($event,'DELETE AREAS')" class="clr-toggle">
                <label for="toggle3" class="clr-control-label">DELETE</label>
              </div>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle4" [(ngModel)]="switches[3]" (checked)="switches[3]" (change)="toggle2($event,'GET AREAS')" class="clr-toggle">
                <label for="toggle4" class="clr-control-label">GET</label>
              </div>
            </clr-stack-label>
          </clr-stack-block>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Companies</clr-stack-label>
          <clr-stack-block>
            <clr-stack-label>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle13" [(ngModel)]="switches[13]" (checked)="switches[13]" (change)="toggle2($event,'ADD COMPANIES')" class="clr-toggle">
                <label for="toggle13" class="clr-control-label">ADD</label>
              </div>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle14" [(ngModel)]="switches[14]" (checked)="switches[14]" (change)="toggle2($event,'MODIFY COMPANIES')" class="clr-toggle">
                <label for="toggle14" class="clr-control-label">MODIFY</label>
              </div>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle15" [(ngModel)]="switches[15]" (checked)="switches[15]" (change)="toggle2($event,'DELETE COMPANIES')" class="clr-toggle">
                <label for="toggle15" class="clr-control-label">DELETE</label>
              </div>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle16" [(ngModel)]="switches[16]" (checked)="switches[16]" (change)="toggle2($event,'GET COMPANIES')" class="clr-toggle">
                <label for="toggle16" class="clr-control-label">GET</label>
              </div>
            </clr-stack-label>
          </clr-stack-block>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Groups</clr-stack-label>
          <clr-stack-block>
            <clr-stack-label>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle25" [(ngModel)]="switches[25]" (checked)="switches[25]" (change)="toggle2($event,'ADD GROUPS')" class="clr-toggle">
                <label for="toggle25" class="clr-control-label">ADD</label>
              </div>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle26" [(ngModel)]="switches[26]" (checked)="switches[26]" (change)="toggle2($event,'MODIFY GROUPS')" class="clr-toggle">
                <label for="toggle26" class="clr-control-label">MODIFY</label>
              </div>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle27" [(ngModel)]="switches[27]" (checked)="switches[27]" (change)="toggle2($event,'DELETE GROUPS')" class="clr-toggle">
                <label for="toggle27" class="clr-control-label">DELETE</label>
              </div>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle28" [(ngModel)]="switches[28]" (checked)="switches[28]" (change)="toggle2($event,'GET GROUPS')" class="clr-toggle">
                <label for="toggle28" class="clr-control-label">GET</label>
              </div>
            </clr-stack-label>
          </clr-stack-block>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Profiles</clr-stack-label>
          <clr-stack-block>
            <clr-stack-label>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle33" [(ngModel)]="switches[33]" (checked)="switches[33]" (change)="toggle2($event,'ADD PROFILES')" class="clr-toggle">
                <label for="toggle33" class="clr-control-label">ADD</label>
              </div>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle34" [(ngModel)]="switches[34]" (checked)="switches[34]" (change)="toggle2($event,'MODIFY PROFILES')" class="clr-toggle">
                <label for="toggle34" class="clr-control-label">MODIFY</label>
              </div>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle35" [(ngModel)]="switches[35]" (checked)="switches[35]" (change)="toggle2($event,'DELETE PROFILES')" class="clr-toggle">
                <label for="toggle35" class="clr-control-label">DELETE</label>
              </div>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle36" [(ngModel)]="switches[36]" (checked)="switches[36]" (change)="toggle2($event,'GET PROFILES')" class="clr-toggle">
                <label for="toggle36" class="clr-control-label">GET</label>
              </div>
            </clr-stack-label>
          </clr-stack-block>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Users</clr-stack-label>
          <clr-stack-block>
            <clr-stack-label>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle50" [(ngModel)]="switches[50]" (checked)="switches[50]" (change)="toggle2($event,'ADD USERS')" class="clr-toggle">
                <label for="toggle50" class="clr-control-label">ADD</label>
              </div>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle51" [(ngModel)]="switches[51]" (checked)="switches[51]" (change)="toggle2($event,'MODIFY USERS')" class="clr-toggle">
                <label for="toggle51" class="clr-control-label">MODIFY</label>
              </div>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle52" [(ngModel)]="switches[52]" (checked)="switches[52]" (change)="toggle2($event,'DELETE USERS')" class="clr-toggle">
                <label for="toggle52" class="clr-control-label">DELETE</label>
              </div>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" id="toggle53" [(ngModel)]="switches[53]" (checked)="switches[53]" (change)="toggle2($event,'GET USERS')" class="clr-toggle">
                <label for="toggle53" class="clr-control-label">GET</label>
              </div>
            </clr-stack-label>
          </clr-stack-block>
        </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block [(clrSbExpanded)]="expanded[1]">
        <clr-stack-label>Assets</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle5" [(ngModel)]="switches[5]" (checked)="switches[5]" (change)="toggle2($event,'ADD ASSETS')" class="clr-toggle">
              <label for="toggle5" class="clr-control-label">ADD</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle6" [(ngModel)]="switches[6]" (checked)="switches[6]" (change)="toggle2($event,'MODIFY ASSETS')" class="clr-toggle">
              <label for="toggle6" class="clr-control-label">MODIFY</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle7" [(ngModel)]="switches[7]" (checked)="switches[7]" (change)="toggle2($event,'DELETE ASSETS')" class="clr-toggle">
              <label for="toggle7" class="clr-control-label">DELETE</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle8" [(ngModel)]="switches[8]" (checked)="switches[8]" (change)="toggle2($event,'GET ASSETS')" class="clr-toggle">
              <label for="toggle8" class="clr-control-label">GET</label>
            </div>
          </clr-stack-label>
        </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block [(clrSbExpanded)]="expanded[2]">
        <clr-stack-label>Audits</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle9" [(ngModel)]="switches[9]" (checked)="switches[9]" (change)="toggle2($event,'ADD AUDITS')" class="clr-toggle">
              <label for="toggle9" class="clr-control-label">ADD</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle10" [(ngModel)]="switches[10]" (checked)="switches[10]" (change)="toggle2($event,'MODIFY AUDITS')" class="clr-toggle">
              <label for="toggle10" class="clr-control-label">MODIFY</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle11" [(ngModel)]="switches[11]" (checked)="switches[11]" (change)="toggle2($event,'DELETE AUDITS')" class="clr-toggle">
              <label for="toggle11" class="clr-control-label">DELETE</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle12" [(ngModel)]="switches[12]" (checked)="switches[12]" (change)="toggle2($event,'GET AUDITS')" class="clr-toggle">
              <label for="toggle12" class="clr-control-label">GET</label>
            </div>
          </clr-stack-label>
        </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block [(clrSbExpanded)]="expanded[3]">
        <clr-stack-label>Evidences</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle21" [(ngModel)]="switches[21]" (checked)="switches[21]" (change)="toggle2($event,'ADD EVIDENCES')" class="clr-toggle">
              <label for="toggle21" class="clr-control-label">ADD</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle22" [(ngModel)]="switches[22]" (checked)="switches[22]" (change)="toggle2($event,'MODIFY EVIDENCES')" class="clr-toggle">
              <label for="toggle22" class="clr-control-label">MODIFY</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle23" [(ngModel)]="switches[23]" (checked)="switches[23]" (change)="toggle2($event,'DELETE EVIDENCES')" class="clr-toggle">
              <label for="toggle23" class="clr-control-label">DELETE</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle24" [(ngModel)]="switches[24]" (checked)="switches[24]" (change)="toggle2($event,'GET EVIDENCES')" class="clr-toggle">
              <label for="toggle24" class="clr-control-label">GET</label>
            </div>
          </clr-stack-label>
        </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block [(clrSbExpanded)]="expanded[9]">
        <clr-stack-label>Methodologies</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle58" [(ngModel)]="switches[58]" (checked)="switches[58]" (change)="toggle2($event,'ADD METHODOLOGIES')" class="clr-toggle">
              <label for="toggle58" class="clr-control-label">ADD</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle59" [(ngModel)]="switches[59]" (checked)="switches[59]" (change)="toggle2($event,'MODIFY METHODOLOGIES')" class="clr-toggle">
              <label for="toggle59" class="clr-control-label">MODIFY</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle60" [(ngModel)]="switches[60]" (checked)="switches[60]" (change)="toggle2($event,'DELETE METHODOLOGIES')" class="clr-toggle">
              <label for="toggle60" class="clr-control-label">DELETE</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle61" [(ngModel)]="switches[61]" (checked)="switches[61]" (change)="toggle2($event,'GET METHODOLOGIES')" class="clr-toggle">
              <label for="toggle61" class="clr-control-label">GET</label>
            </div>
          </clr-stack-label>
        </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block [(clrSbExpanded)]="expanded[4]">
        <clr-stack-label>Integrations</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle29" [(ngModel)]="switches[29]" (checked)="switches[29]" (change)="toggle2($event,'ADD INTEGRATIONS')" class="clr-toggle">
              <label for="toggle29" class="clr-control-label">ADD</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle30" [(ngModel)]="switches[30]" (checked)="switches[30]" (change)="toggle2($event,'MODIFY INTEGRATIONS')" class="clr-toggle">
              <label for="toggle30" class="clr-control-label">MODIFY</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle31" [(ngModel)]="switches[31]" (checked)="switches[31]" (change)="toggle2($event,'DELETE INTEGRATIONS')" class="clr-toggle">
              <label for="toggle31" class="clr-control-label">DELETE</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle32" [(ngModel)]="switches[32]" (checked)="switches[32]" (change)="toggle2($event,'GET INTEGRATIONS')" class="clr-toggle">
              <label for="toggle32" class="clr-control-label">GET</label>
            </div>
          </clr-stack-label>
        </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block [(clrSbExpanded)]="expanded[5]">
        <clr-stack-label>Responsables</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle37" [(ngModel)]="switches[37]" (checked)="switches[37]" (change)="toggle2($event,'ADD RESPONSABLES')" class="clr-toggle">
              <label for="toggle37" class="clr-control-label">ADD</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle38" [(ngModel)]="switches[38]" (checked)="switches[38]" (change)="toggle2($event,'MODIFY RESPONSABLES')" class="clr-toggle">
              <label for="toggle38" class="clr-control-label">MODIFY</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle39" [(ngModel)]="switches[39]" (checked)="switches[39]"  (change)="toggle2($event,'DELETE RESPONSABLES')" class="clr-toggle">
              <label for="toggle39" class="clr-control-label">DELETE</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle40" [(ngModel)]="switches[40]" (checked)="switches[40]" (change)="toggle2($event,'GET RESPONSABLES')" class="clr-toggle">
              <label for="toggle40" class="clr-control-label">GET</label>
            </div>
          </clr-stack-label>
        </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block [(clrSbExpanded)]="expanded[6]">
        <clr-stack-label>Tags</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle42" [(ngModel)]="switches[42]" (checked)="switches[42]" (change)="toggle2($event,'ADD TAGS')" class="clr-toggle">
              <label for="toggle42" class="clr-control-label">ADD</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle43" [(ngModel)]="switches[43]" (checked)="switches[43]" (change)="toggle2($event,'MODIFY TAGS')" class="clr-toggle">
              <label for="toggle43" class="clr-control-label">MODIFY</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle44" [(ngModel)]="switches[44]" (checked)="switches[44]" (change)="toggle2($event,'DELETE TAGS')" class="clr-toggle">
              <label for="toggle44" class="clr-control-label">DELETE</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle45" [(ngModel)]="switches[45]" (checked)="switches[45]" (change)="toggle2($event,'GET TAGS')" class="clr-toggle">
              <label for="toggle45" class="clr-control-label">GET</label>
            </div>
          </clr-stack-label>
        </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block [(clrSbExpanded)]="expanded[7]">
        <clr-stack-label>Urls</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle46" [(ngModel)]="switches[46]" (checked)="switches[46]" (change)="toggle2($event,'ADD URLS')" class="clr-toggle">
              <label for="toggle46" class="clr-control-label">ADD</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle47" [(ngModel)]="switches[47]" (checked)="switches[47]" (change)="toggle2($event,'MODIFY URLS')" class="clr-toggle">
              <label for="toggle47" class="clr-control-label">MODIFY</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle48" [(ngModel)]="switches[48]" (checked)="switches[48]" (change)="toggle2($event,'DELETE URLS')" class="clr-toggle">
              <label for="toggle48" class="clr-control-label">DELETE</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle49" [(ngModel)]="switches[49]" (checked)="switches[49]" (change)="toggle2($event,'GET URLS')" class="clr-toggle">
              <label for="toggle49" class="clr-control-label">GET</label>
            </div>
          </clr-stack-label>
        </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block [(clrSbExpanded)]="expanded[8]">
        <clr-stack-label>Vulnerabilities</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle54" [(ngModel)]="switches[54]" (checked)="switches[54]" (change)="toggle2($event,'ADD VULNERABILITIES')" class="clr-toggle">
              <label for="toggle54" class="clr-control-label">ADD</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle55" [(ngModel)]="switches[55]" (checked)="switches[55]" (change)="toggle2($event,'MODIFY VULNERABILITIES')" class="clr-toggle">
              <label for="toggle55" class="clr-control-label">MODIFY</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle56" [(ngModel)]="switches[56]" (checked)="switches[56]" (change)="toggle2($event,'DELETE VULNERABILITIES')" class="clr-toggle">
              <label for="toggle56" class="clr-control-label">DELETE</label>
            </div>
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle57" [(ngModel)]="switches[57]" (checked)="switches[57]" (change)="toggle2($event,'GET VULNERABILITIES')" class="clr-toggle">
              <label for="toggle57" class="clr-control-label">GET</label>
            </div>
          </clr-stack-label>
        </clr-stack-block>
      </clr-stack-block>
    </clr-stack-view>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" (click)="addProfile();closeModal()" type="button">Submit</button>
    <button class="btn btn-primary" (click)="closeModal()" type="button">Cancel</button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="filterVisible" [clrModalSize]="'lg'">
    <h3 class="modal-title">Filters</h3>
    <div class="modal-body">
      <button class="btn btn-primary" (click)="addFilters()">Add</button>
        <form clrForm [formGroup]="searchForm"  (ngSubmit)="filter();filterVisible = false">
              <div formArrayName="filters" *ngFor="let filter of searchForm.controls.filters.controls; let i = index">
                <ng-container [formGroupName]="i">
                  <clr-input-container>
                    <label>Name</label>
                    <input placeholder="Name" clrInput ngModel formControlName="name">
                  </clr-input-container>
                </ng-container>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-primary" (click)="filterVisible = false">Cancel</button>
          </form>
    </div>
  </clr-modal>

