<div class="wrap">
  <button class="btn btn-outline" (click)="isModalVisible=true">New Asset</button>
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="descSort">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'type'" [clrDgSortOrder]="descSort">Type</clr-dg-column> 
    <clr-dg-column [clrDgField]="'risk'" [clrDgSortOrder]="descSort">Risk</clr-dg-column>
    <clr-dg-column [clrDgField]="'status'" [clrDgSortOrder]="descSort">Status</clr-dg-column> 
    <clr-dg-column [clrDgField]="'company'" [clrDgSortOrder]="descSort">Company</clr-dg-column>
    <clr-dg-column [clrDgField]="'area'" [clrDgSortOrder]="descSort">Area</clr-dg-column>
    <clr-dg-row *clrDgItems="let asset of assets" [clrDgItem]="asset">
      <clr-dg-cell>{{asset.name}}</clr-dg-cell>
      <clr-dg-cell *ngIf="asset.class==0">
        <clr-icon shape="world"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.class==1">
        <clr-icon shape="mobile"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.class==2">
        <clr-icon shape="router"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.class==3">
        <clr-icon shape="usb"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell>
        C:<span class="badge badge-blue">{{asset.confidenciality}}</span>
        I:<span class="badge badge-blue">{{asset.integrity}}</span>
        A:<span class="badge badge-blue">{{asset.availability}}</span>
        T:<span class="badge badge-blue">{{asset.trazability}}</span>
        Au:<span class="badge badge-blue">{{asset.authorization}}</span>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.status==0">On development</clr-dg-cell>
      <clr-dg-cell *ngIf="asset.status==1">Production</clr-dg-cell>
      <clr-dg-cell *ngIf="asset.status==2">To be decomissioned</clr-dg-cell>
      <clr-dg-cell *ngIf="asset.status==3">Decomissioned</clr-dg-cell>
      <clr-dg-cell>{{asset.company.name}}</clr-dg-cell>
      <clr-dg-cell>{{asset.businessArea.name}}</clr-dg-cell>
      <clr-dg-action-overflow>
        <button class="action-item" (click)="deleteAsset(asset)">Delete</button>
      </clr-dg-action-overflow>
<!--      <app-asset-details *clrIfExpanded [input]="asset"  (emit)="changeAssetValues($event)" ngProjectAs="clr-dg-row-detail"></app-asset-details>-->
    </clr-dg-row>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="total">
        <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">Assets per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{total}} Assets
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<clr-modal [(clrModalOpen)]="isModalVisible" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">New Asset</h3>
  <div class="modal-body">
    <div class="clr-form-control">
      <label for="basic" class="clr-control-label">Name</label>
      <input type="text" name="name" class="clr-input" [(ngModel)]="newAsset.name" placeholder="Asset's name" />
    </div>
    <div class="clr-form-control">
      <label for="basic" class="clr-control-label">Project code</label>
      <input type="text" name="hgf" class="clr-input" [(ngModel)]="newAsset.hgf" placeholder="Asset's project code" />
    </div>
    <div class="clr-form-control">
      <label for="select-full" class="clr-control-label">Status</label>
      <div class="clr-control-container">
        <div class="clr-select-wrapper">
          <select class="clr-select" name="status" [(ngModel)]="newAsset.status">
            <option [ngValue]="statusType.value" *ngFor="let statusType of _statusTypes">{{statusType.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <clr-date-container>
      <label>Status date</label>
      <input type="date" name="date" [(ngModel)]="newAsset.statusDate" clrDate>
    </clr-date-container>
    <br/>
    <clr-stack-view>
      <clr-stack-block [(clrSbExpanded)]="expanded[0]">
        <clr-stack-label>Information</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label>Alias</clr-stack-label>
          <clr-stack-content>
            <input type="text" name="alias" class="clr-input" [(ngModel)]="newAsset.alias" placeholder="Asset's alias" />
          </clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Type</clr-stack-label>
          <clr-stack-content class="clr-select-wrapper">
            <select class="clr-select" name="class" [(ngModel)]="newAsset.class">
              <option [ngValue]="assetType.value" *ngFor="let assetType of _assetTypes">{{assetType.name}}</option>
            </select>
          </clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>Company</clr-stack-label>
            <clr-stack-content class="clr-select-wrapper">
              <div class="clr-control-container">
                <ng-select appendTo="body" style="width: 250px;" placeholder="Company" [items]="companiesList$ |async" bindLabel="name" [(ngModel)]="defaultAttributeCompany"
                  (input)="searchCompany($event.target.value)" name="company" [clearable]="false">
                </ng-select>
              </div>
            </clr-stack-content>
          </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Area</clr-stack-label>
          <clr-stack-content class="clr-select-wrapper">
            <div class="clr-control-container">
              <ng-select appendTo="body" style="width: 250px;" placeholder="Area" [items]="areasList$ |async" bindLabel="name" [(ngModel)]="defaultAttributeArea"
                (input)="searchArea($event.target.value)" name="area" [clearable]="false">
              </ng-select>
            </div>
          </clr-stack-content>
        </clr-stack-block>
        <clr-stack-block style="z-index:99">
          <clr-stack-label>Enviroment</clr-stack-label>
          <clr-stack-content class="clr-select-wrapper">
            <select class="clr-select" name="" [(ngModel)]="newAsset.enviroment">
              <option [ngValue]="enviromentType.value" *ngFor="let enviromentType of _enviromentTypes">{{enviromentType.name}}</option>
            </select>
          </clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Visibility</clr-stack-label>
          <clr-stack-content class="clr-select-wrapper">
            <select class="clr-select" name="visibility" [(ngModel)]="newAsset.visibility">
              <option [ngValue]="assetVisibilityType.value" *ngFor="let assetVisibilityType of _assetVisibilityTypes">{{assetVisibilityType.name}}</option>
            </select>
          </clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Description</clr-stack-label>
          <clr-stack-content class="clr-textarea-wrapper">
            <textarea placeholder="Describe something" [(ngModel)]="newAsset.description" class="clr-textarea"></textarea>
          </clr-stack-content>
        </clr-stack-block>
        <clr-stack-block *ngIf="newAsset.kind==0">
          <clr-stack-label>URLs</clr-stack-label>
          <clr-stack-content>
              <button class="btn btn-primary" (click)="addFilters()">Add</button>
              <form clrForm [formGroup]="searchForm">
              <div formArrayName="filters" *ngFor="let filter of searchForm.controls.filters.controls; let i = index">
              <ng-container [formGroupName]="i">
                <div class="clr-form-control">
                  <label for="example" class="clr-control-label">Enviroment</label>
                  <div class="clr-control-container">
                    <input placeholder="Enviroment" clrInput ngModel formControlName="enviroment">
                  </div>
                </div>
                <div class="clr-form-control">
                    <label for="example" class="clr-control-label">Name</label>
                    <div class="clr-control-container">
                      <input placeholder="Name" clrInput ngModel formControlName="name">
                    </div>
                  </div>
                  <div class="clr-form-control">
                      <label for="example" class="clr-control-label">Port</label>
                      <div class="clr-control-container">
                        <input placeholder="Port" clrInput ngModel formControlName="port">
                      </div>
                    </div>
              </ng-container>
            </div>
            </form>
          </clr-stack-content>
        </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block>
        <clr-stack-label>GRC</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label>Confidenciality</clr-stack-label>
          <clr-stack-content class="clr-select-wrapper">
            <select class="clr-select" name="confidenciality" [(ngModel)]="newAsset.confidenciality">
              <option [ngValue]="grcValue" *ngFor="let grcValue of _grcValues">{{grcValue}}</option>
            </select>
          </clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Authorization</clr-stack-label>
          <clr-stack-content class="clr-select-wrapper">
            <select class="clr-select" name="authorization" [(ngModel)]="newAsset.authorization">
              <option [ngValue]="grcValue" *ngFor="let grcValue of _grcValues">{{grcValue}}</option>
            </select>
          </clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Availability</clr-stack-label>
          <clr-stack-content class="clr-select-wrapper">
            <select class="clr-select" name="availability" [(ngModel)]="newAsset.availability">
              <option [ngValue]="grcValue" *ngFor="let grcValue of _grcValues">{{grcValue}}</option>
            </select>
          </clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Integrity</clr-stack-label>
          <clr-stack-content class="clr-select-wrapper">
            <select class="clr-select" name="integrity" [(ngModel)]="newAsset.integrity">
              <option [ngValue]="grcValue" *ngFor="let grcValue of _grcValues">{{grcValue}}</option>
            </select>
          </clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Trazability</clr-stack-label>
          <clr-stack-content class="clr-select-wrapper">
            <select class="clr-select" name="trazability" [(ngModel)]="newAsset.trazability">
              <option [ngValue]="grcValue" *ngFor="let grcValue of _grcValues">{{grcValue}}</option>
            </select>
          </clr-stack-content>
        </clr-stack-block>
      </clr-stack-block>
    </clr-stack-view>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" (click)="addAsset();closeModal()" type="button">Submit</button>
    <button class="btn btn-primary" (click)="closeModal()" type="button">Cancel</button>
  </div>
</clr-modal>