<div class="wrap">
    <button class="btn btn-outline" (click)="isModalVisible=true">Add credential</button>
    <button class="btn btn-outline" (click)="filterVisible=true">Filter</button>


    <clr-datagrid>
        <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="descSort">App</clr-dg-column>
        <clr-dg-row *clrDgItems="let credential of credentials" [clrDgItem]="credential">
            <clr-dg-cell>{{credential.name}}</clr-dg-cell>
            <clr-dg-action-overflow>
                <button class="action-item" (click)="deleteCredential(credential)">Delete</button>
            </clr-dg-action-overflow>
            <!--      <app-credential-details *clrIfExpanded [input]="credential"  (emit)="changeCredentialValues($event)" ngProjectAs="clr-dg-row-detail"></app-credential-details>-->
        </clr-dg-row>
        <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="total">
                <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">Credentials per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{total}} Credentials
            </clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>
</div>

<clr-modal [(clrModalOpen)]="isModalVisible" [clrModalSize]="'lg'">
    <h3 class="modal-title">New credential</h3>
    <div class="modal-body">
        <form clrForm #newCredential="ngForm">
            <clr-input-container>
                <label>Name</label>
                <input type="text" name="name" clrInput ngModel placeholder="App's name" />
            </clr-input-container>
            <clr-input-container>
                <label>URL</label>
                <input type="text" name="homePath" clrInput ngModel placeholder="Remote endpoint" />
            </clr-input-container>
            <clr-input-container>
                <clr-input-container>
                    <label>Consumer Key</label>
                    <input type="text" name="consumerKey" clrInput ngModel placeholder="Consumer's key" />
                </clr-input-container>
            </clr-input-container>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline" (click)="addCredential(newCredential);isModalVisible = false" type="button">Submit</button>
        <button class="btn btn-primary" (click)="isModalVisible = false" type="button">Cancel</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="filterVisible" [clrModalSize]="'lg'">
    <h3 class="modal-title">Filters</h3>
    <div class="modal-body">
        <button class="btn btn-primary" (click)="addFilters()">Add</button>
        <form clrForm [formGroup]="searchForm" (ngSubmit)="filter();filterVisible = false">
            <div formArrayName="filters" *ngFor="let filter of searchForm.controls.filters.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <clr-input-container>
                        <label>Name</label>
                        <input placeholder="Name" clrInput ngModel formControlName="name">
                    </clr-input-container>
                </ng-container>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-primary" (click)="filterVisible = false">Cancel</button>
        </form>
    </div>
</clr-modal>