<div class="wrap">
  <button class="btn btn-outline" (click)="isModalVisible=true">New Test</button>
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="descSort">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'total'" [clrDgSortOrder]="descSort">Description</clr-dg-column>
    <clr-dg-row *clrDgItems="let test of testsList" [clrDgItem]="test">
      <clr-dg-cell>{{test.name}}</clr-dg-cell>
      <clr-dg-cell>{{test.description}}</clr-dg-cell>
      <clr-dg-action-overflow>
        <button class="action-item" (click)="deleteTest(test)">Delete</button>
      </clr-dg-action-overflow>
    </clr-dg-row>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">Tests per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{total}} Tests
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<clr-modal [(clrModalOpen)]="isModalVisible" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">New Test</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label>Name</label>
        <input clrInput type="text" [(ngModel)]="newTest.name" name="nameTest" required/>
      </clr-input-container>
      <clr-input-container>
        <label>Description</label>
        <input clrInput type="text" [(ngModel)]="newTest.description" name="descriptionTest"/>
      </clr-input-container>
      <label>Company</label><br>
      <ng-select style="width: 100%" placeholder="Select one company"
                 [items]="companiesList$ |async" bindLabel="name" [(ngModel)]="newTest.company"
                 (input)="searchCompany($event.target.value)" name="company" [clearable]="false">
      </ng-select>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="addTest();closeModal()">Submit</button>
    <button class="btn btn-primary" (click)="closeModal()">Close</button>
  </div>
</clr-modal>

