<div class="wrap">
  <button class="btn btn-outline" (click)="isModalVisible=true">New Methodologies</button>
  <button class="btn btn-outline" (click)="newMethodologyVisible=true">Filter</button>
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="descSort">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'total'" [clrDgSortOrder]="descSort">Total</clr-dg-column>
    <clr-dg-row *clrDgItems="let profile of profiles" [clrDgItem]="profile">
      <clr-dg-cell>{{profile.name}}</clr-dg-cell>
      <clr-dg-cell>{{profile.users.length}}</clr-dg-cell>
      <clr-dg-action-overflow>
        <button class="action-item" (click)="deleteProfile(profile)">Delete</button>
      </clr-dg-action-overflow>
      <app-profile-details *clrIfExpanded [input]="profile" (emit)="changeProfileValues($event)"
                           ngProjectAs="clr-dg-row-detail">
      </app-profile-details>
    </clr-dg-row>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">Areas per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{total}} Areas
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<clr-modal [(clrModalOpen)]="isModalVisible" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">New methodology</h3>
  <div class="modal-body">
    <clr-input-container>
      <label>Name</label>
      <input type="text" name="name" clrInput [(ngModel)]="newMethodology.name" placeholder="Methodology name"/>
    </clr-input-container>
    <clr-textarea-container>
      <label>Description</label>
      <textarea clrTextarea placeholder="Methodology description..."  name="description" required></textarea>
    </clr-textarea-container><br>
    <label for="select-full" class="clr-control-label">Company</label>
    <ng-select style="width: 250px" placeholder="Select one company"
               [items]="companiesList$ |async" bindLabel="name" [(ngModel)]="defaultAttribute"
               (input)="searchCompany($event.target.value)" name="company" [clearable]="false">
    </ng-select><br>
    <label for="select-full" class="clr-control-label">Tests</label>
    <div>
      <button class="btn btn-primary" (click)="addTests()">Add test</button>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-outline" (click)="addMethodology();closeModal()" type="button">Submit</button>
    <button class="btn btn-primary" (click)="closeModal()" type="button">Cancel</button>
  </div>
</clr-modal>





