<div class="wrap">
  <button class="btn btn-outline" (click)="isModalVisible=true">New Methodologies</button>
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="descSort">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'total'" [clrDgSortOrder]="descSort">Description</clr-dg-column>
    <clr-dg-row *clrDgItems="let methodology of methodologiesList" [clrDgItem]="methodology">
      <clr-dg-cell>{{methodology.name}}</clr-dg-cell>
      <clr-dg-cell>{{methodology.description}}</clr-dg-cell>
      <clr-dg-action-overflow>
        <button class="action-item" (click)="deleteMethodology(methodology)">Delete</button>
      </clr-dg-action-overflow>
    </clr-dg-row>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">Areas per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{total}} Areas
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<clr-modal [(clrModalOpen)]="isModalVisible" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">New methodology</h3>
  <div class="modal-body">
    <form clrForm clrLayout="horizontal">
      <div class="left-container">
        <clr-input-container>
          <label>Name</label>
          <input type="text" name="name" clrInput [(ngModel)]="newMethodology.name" placeholder="Methodology name"/>
        </clr-input-container>
        <label>Description</label>
        <textarea clrTextarea placeholder="Methodology description..." name="description"
                  [(ngModel)]="newMethodology.description" required></textarea>
        <br>
      </div>
      <div class="right-container">

        <label>Test</label>
        <ng-select style="width: 100%" placeholder="Select one company"
                   [items]="companiesList$ |async" bindLabel="name" [(ngModel)]="newMethodology.company"
                   (input)="searchCompany($event.target.value)" name="company" [clearable]="false">
        </ng-select>
        <br>
        <label>Company</label>
        <ng-select style="width: 100%" placeholder="Select one company"
                   [items]="companiesList$ |async" bindLabel="name" [(ngModel)]="newMethodology.company"
                   (input)="searchCompany($event.target.value)" name="company" [clearable]="false">
        </ng-select>
        <br>
      </div>
    </form>
    <div class="modal-footer">
      <button class="btn btn-outline" (click)="addMethodology();closeModal()" type="submit">Submit</button>
      <button class="btn btn-primary" (click)="closeModal()" type="button">Cancel</button>
    </div>
  </div>
</clr-modal>






