<div class="wrap">
  <button class="btn btn-outline" (click)="isModalVisible=true">Add company</button>
  <button class="btn btn-outline" (click)="filterVisible=true">Filter</button>

  <!--  Este es el select que hay que copiar y pegar para usarlo con buscador usando un API, hace falta
  el ngIf previo porque sino no coge el valor por defecto.
  -->


  <clr-datagrid>
    <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="descSort">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
    <clr-dg-row *clrDgItems="let company of companies" [clrDgItem]="company">
      <clr-dg-cell>{{company.name}}</clr-dg-cell>
      <clr-dg-cell>{{company.description}}</clr-dg-cell>
      <clr-dg-action-overflow>
        <button class="action-item" (click)="deleteCompany(company)">Delete</button>
      </clr-dg-action-overflow>
      <app-company-details *clrIfExpanded [input]="company"  (emit)="changeCompanyValues($event)" ngProjectAs="clr-dg-row-detail"></app-company-details>
    </clr-dg-row>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="total">
        <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">Companies per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{total}} Assets
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<clr-modal [(clrModalOpen)]="isModalVisible" [clrModalSize]="'lg'">
  <h3 class="modal-title">New company</h3>
  <div class="modal-body">
    <form clrForm #newCompany="ngForm">
      <clr-input-container>
        <label>Name</label>
        <input type="text" name="name" clrInput ngModel placeholder="Company's name" />
      </clr-input-container>
      <clr-input-container>
        <label>Description</label>
        <input type="text" name="description" clrInput ngModel placeholder="Company's description" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" (click)="addCompany(newCompany);isModalVisible = false" type="button">Submit</button>
    <button class="btn btn-primary" (click)="isModalVisible = false" type="button">Cancel</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="filterVisible" [clrModalSize]="'lg'">
  <h3 class="modal-title">Filters</h3>
  <div class="modal-body">
    <button class="btn btn-primary" (click)="addFilters()">Add</button>
      <form clrForm [formGroup]="searchForm"  (ngSubmit)="filter();filterVisible = false">
                  <div formArrayName="filters" *ngFor="let filter of searchForm.controls.filters.controls; let i = index">
                    <ng-container [formGroupName]="i">
                      <clr-input-container>
                  <label>Name</label>
                  <input placeholder="Name" clrInput ngModel formControlName="name">
                </clr-input-container>
                <clr-input-container>
                  <label>Description</label>
                  <input placeholder="Description" ngModel clrInput formControlName="description">
                </clr-input-container>
              </ng-container>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-primary" (click)="filterVisible = false">Cancel</button>
        </form>
  </div>
</clr-modal>
