.wrap {
  padding: 1em;
}

input {
  width: 30%;
}

.intelli-search-container {
  width: 30%;
  border-left: 1px solid grey;
  border-right: 1px solid grey;

}

.intelli-search-container ul {
  list-style: none;
}

.intelli-search-container li {
  border-bottom: 1px solid;
  padding-left: 1em;
}

.intelli-search-container li:hover {
  background-color: #FBEAFF;
  cursor: pointer;
}
