<div class="wrap">

  <button class="btn btn-outline" (click)="lgOpen=true">New area</button>
  <button class="btn btn-outline" (click)="filterVisible=true">Filter</button>
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="descSort">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'company.name'" [clrDgSortOrder]="descSort">Company</clr-dg-column>
    <clr-dg-row *clrDgItems="let area of areas" [clrDgItem]="area">
      <clr-dg-cell>{{area.name}}</clr-dg-cell>
      <clr-dg-cell>{{area.company.name}}</clr-dg-cell>
      <clr-dg-action-overflow>
        <button class="action-item" (click)="deleteArea(area)">Delete</button>
      </clr-dg-action-overflow>
      <app-area-details *clrIfExpanded [input]="area" (emit)="changeAreaValues($event)" ngProjectAs="clr-dg-row-detail">
      </app-area-details>
    </clr-dg-row>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">Areas per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{total}} Areas
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>




<clr-modal [(clrModalOpen)]="filterVisible" [clrModalSize]="'lg'">
  <h3 class="modal-title">Filters</h3>
  <div class="modal-body">

  </div>
</clr-modal>

<clr-wizard #wizardlg [(clrWizardOpen)]="lgOpen" clrWizardSize="lg">
  <clr-wizard-title>New area</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" (click)="addArea(newArea)">Finish</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>Info</ng-template>
    <form class="clr-form" #newArea="ngForm">
      <div class="clr-form-control">
        <label for="example" class="clr-control-label">Name</label>
        <div class="clr-control-container">
          <input type="text" name="name" clrInput ngModel placeholder="Area's name" />
        </div>
      </div>
      <div class="clr-form-control">
        <label for="select-full" class="clr-control-label">Company</label>
        <div class="clr-control-container">
          <ng-select style="width: 250px" placeholder="B&uacute;squeda por compañ&iacute;a"
            [items]="companiesList$ |async" bindLabel="name" [(ngModel)]="defaultAttribute"
            (input)="searchCompany($event.target.value)" name="company" [clearable]="false">
          </ng-select>
        </div>
      </div>
    </form>
  </clr-wizard-page>
</clr-wizard>

<clr-wizard #wizardFilter [(clrWizardOpen)]="filterVisible" clrWizardSize="xl">
  <clr-wizard-title>Filters</clr-wizard-title>
  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" (click)="filter();">Finish</clr-wizard-button>
  <clr-wizard-page>
    <ng-template clrPageTitle>Info</ng-template>
    <button class="btn btn-primary" (click)="addFilters()">Add</button>
    <form clrForm [formGroup]="searchForm" (ngSubmit)="filter();filterVisible = false">
      <div formArrayName="filters" *ngFor="let filter of searchForm.controls.filters.controls; let i = index">
        <ng-container [formGroupName]="i">
            <div class="clr-form-control">
                <label for="example" class="clr-control-label">Name</label>
                <div class="clr-control-container">
                  <input placeholder="Name" clrInput ngModel formControlName="name">
                </div>
              </div>
              <div class="clr-form-control">
                <label for="select-full" class="clr-control-label">Company</label>
                <div class="clr-control-container">
                  <ng-select style="width: 250px" placeholder="B&uacute;squeda por compañ&iacute;a"
                    [items]="companiesList$ |async" bindLabel="name" ngModel
                    (input)="searchCompany($event.target.value)"   [clearable]="false" formControlName="company">
                  </ng-select>
                </div>
              </div>
        </ng-container>
      </div>
    </form>
  </clr-wizard-page>
</clr-wizard>